// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#tag_cloud{
  .s  {font-size: 0.5em; }
  .m  {font-size: 1.0em; }
  .l  {font-size: 1.5em;}
}
